<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.busticketactivity">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".home.InfoActivity"></activity>
        <activity android:name=".DetailInfoWisataActivity" />
        <activity android:name=".ResetTiketActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".home.ProfileActivity" />
        <activity android:name=".signin.DriverActivity" />
        <activity android:name=".signin.ManagerActivity" >

        </activity>
        <activity android:name=".tiketmenu.DetailTiketActivity" />
        <activity android:name=".tiketmenu.TiketDetailActivity" />
        <activity android:name=".payment.PaymentActivity" />
        <activity android:name=".pickticket.PickTicketActivity" />
        <activity android:name=".tiketmenu.TiketActivty" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".regist.RegistAddImageActivity" />
        <activity android:name=".regist.RegisterActivity" />
        <activity android:name=".signin.SignInActivity" />
        <activity android:name=".signin.SignInAndRegistActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>